@model IEnumerable<Inhale.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}


<div class="ingredientList">
     @foreach (var item in Model)
     { 
         @if (item.IsOil)
         { 
         <div class="ingredient">
            <div style="margin-bottom: 6px">
                <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
        </div>
        <hr/>
        }
    }
</div>
